<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Coupon</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            background-color: #99bfd0;
            max-width: 400px;
            padding: 20px;
            margin-top: 100px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .text {
            font-size: 24px;
            text-align: center;
        }

        .btn-back {
            display: block;
            width: 100%;
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="text">
            Khuyến mãi <b>
                <%= code %>
            </b> sẽ được tạo vào lúc <%= startTime %>
        </div>
        <a href="/coupon" class="btn btn-warning btn-back">Trở về</a>
    </div>
</body>

</html>
